{"filter":false,"title":".gitignore","tooltip":"/ignore-tutorial/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":5},"action":"insert","lines":["# \"#\" is followed by a comment","","# Ignore everything below the designated folder (/ at the end of the folder /)","sample_folder /","","# \"*\" is used to match various file names","# Below is ignoring all files with extension \".txt\"","*.txt"],"id":1}],[{"start":{"row":7,"column":5},"end":{"row":8,"column":0},"action":"insert","lines":["",""],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":0},"end":{"row":8,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1526876460774,"hash":"c7bba5e085835999b87d2ce4028ef49c2fb1bcd4"}