@charset "UTF-8";
header {
    width: 1000px;
    background-color: #ffcccc;
}
#wrapper {
    float: left;
    width: 1000px;
}
#main {
    float: left;
    width: 700px;
    background-color: #ccffcc;
}
#menu {
    float: right;
    width: 300px;
    background-color: #ccccff;
}
footer {
    width: 1000px;
    background-color: #ffccff;
    clear:both;
}
